body {
      background: #202020;
}

a {
      text-decoration: none;
}

.name {
      display: flex;
}

#avatar {
      padding-bottom: 10px;
      margin-left: 5%;
      margin-right: 5%;
}

.topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 421px;
      margin-right: 2.5%;
}

.name {
      color: #FFF;
      text-align: center;
      font-family: Arial;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 168px;
      height: 68px;
}

.buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 19px;
}

.button {
      border-radius: 25px;
      background: #FFF;
      width: 185px;
      height: 51px;
      color: #000;
      text-align: center;
      font-family: Arial;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.3s;
      cursor: pointer;
}

.button:hover {
      transform: scale(1.05);
}

.start_screen {
      margin-top: 5%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 142px;
}

.start_screen .text {
      width: 493px;
      height: 136px;
      color: #FFF;
      font-family: Arial;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}

.cards_container{
      justify-content: center;
      display: flex;
}

.title_container {
      justify-content: center;
      display: flex;
      margin-top: 40px;
}

.skills .title {
      width: 199px;
      height: 46px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: Arial;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
}

.cards {
      display: flex;
      padding: 0px 49px;
      justify-content:space-around;
      align-items: center;
      gap: 100px;
      margin-top: 3%;
}

.card {
      width: 322px;
      height: 455px;
      flex-shrink: 0;
      border-radius: 25px;
      background: #FAFAFA;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

.card_title {
      left: 26px;
      color: #000;
      text-align: center;
      font-family: Arial;
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}

.card .text {
      width: 273px;
      height: 276px;
      color: #000;
      text-align: center;
      font-family: Arial;
      font-size: 19px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
}
